// _box.scss

// width 정의
.w-25 {
  width: 25%;
}
.w-33 {
  width: 33.33%;
}
.w-50 {
  width: 50%;
}
.w-100 {
  width: 100%;
}

// height 정의
.h-10 {
  height: 10px;
}
.h-20 {
  height: 20px;
}
.h-30 {
  height: 30px;
}
.h-40 {
  height: 40px;
}
.h-50 {
  height: 50px;
}
.h-60 {
  height: 60px;
}
.h-70 {
  height: 70px;
}
.h-80 {
  height: 80px;
}
.h-90 {
  height: 80px;
}
.h-100 {
  height: 100px;
}
.h-200 {
  height: 200px;
}
.h-300 {
  height: 300px;
}
.h-400 {
  height: 400px;
}
.h-500 {
  height: 500px;
}
.h-600 {
  height: 600px;
}
.h-100-per {
  height: 100%;
}

// padding 정의
.p-10 {
  padding: 10px;
}
.py-10 {
  padding: 10px 0;
}
.px-10 {
  padding: 0 10px;
}
.pt-10 {
  padding-top: 10px;
}
.pr-10 {
  padding-right: 10px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-10 {
  padding-left: 10px;
}

.pb-40 {
  padding-bottom: 40px;
}
.py-70 {
  padding: 70px 0;
}

// margin 정의
.m-10 {
  margin: 10px;
}
.my-10 {
  margin: 10px 0;
}
.mx-10 {
  margin: 0 10px;
}
.mt-10 {
  margin-top: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.mb-10 {
  margin-bottom: 10px;
}
.ml-10 {
  margin-left: 10px;
}

.mx-auto {
  margin: 0 auto;
}

// display(flex) 정의
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}

.flex-direction-row {
  flex-direction: row;
}
.flex-direction-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
