.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #222222;
  color: $white;

  .header__logo {
    font-size: 1.5em;
    font-weight: bold;
    color: $white;
    text-decoration: none;
    transition: color 0.3s ease;
    margin-left: 40px;

    &:visited {
      color: $white; /* visited 시에도 기본 색상을 유지 */
    }
  }

  .header__nav {
    display: flex;
    gap: 20px;
    margin-right: 40px;

    .header__link {
      color: $white;
      font-size: 1em;

      &:visited {
        color: $white; /* visited 시에도 기본 색상을 유지 */
      }
    }
  }
}

.resBtn {
  display: none;
}
@media (max-width: 1399px) {
}
@media (max-width: 1100px) {
  header {
    padding: 0 10px;
  }
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
  .header {
    .header__nav {
      position: absolute;
      top: 0px;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.75);
      z-index: -1;
      opacity: 0;
      transform: translateX(100%);
      &.active {
        z-index: 1;
        opacity: 1;
        transform: translateX(0);
        transition: transform 0.5s;
        width: 100%;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        a {
          margin-bottom: 30px;
        }
      }
    }
    .resBtn {
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      width: 60px;
      height: 60px;
      /* active를 하는 순간 상단으로 올릴 것이라는 의미 */
      ul {
        li {
          position: absolute;
          top: 50%;
          left: 30%;
          transform: translate(-50%, -50%);
          img {
            display: block;
            height: 40px;
            cursor: pointer;
          }
        }
        .menuBtn {
          display: block;
        }
        .closeBtn {
          display: none;
        }
      }
      &.active {
        ul {
          .menuBtn {
            position: absolute;
            top: 50%;
            left: 30%;
            transform: translate(-50%, -50%);
            img {
              display: block;
              height: 40px;
              cursor: pointer;
              z-index: 3;
            }
          }
          .menuBtn {
            display: none;
          }
          .closeBtn {
            display: block;
            z-index: 2;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
}
