.main {
  .main_img {
    height: 100vh;
    background-image: url(../../images/main_img.png);
    background-position: 50% 50%;
    background-size: cover;
  }
}

.content1 {
  width: 1000px;
  margin: 20px auto;
  .product-list {
    gap: 30px;
    .list {
      width: calc(100% / 3 - 30px);
      height: 300px;
      border: 1px solid $gray-a;
      img {
        height: 80%;
        object-fit: cover;
        background-color: #ffc;
        display: block;
        margin: 0 auto;
      }
      .context {
        .explain {
          h4 {
            font-size: 20px;
            padding-bottom: 10px;
            text-align: center;
          }
          p {
            font-size: 15px;
            text-align: center;
          }
        }
      }
    }
  }

  // 태블릿 스타일
  @media (max-width: 1024px) and (min-width: 768px) {
    width: 90%;
    // background-color: #aff;
    .product-list {
      .list {
        // width: calc(45% - 15px);
        width: 45%;
        height: 300px;
        img {
          height: 80%;
        }
        .context {
          .explain {
            h4 {
              font-size: 18px;
            }
            p {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  // 모바일 스타일
  @media (max-width: 767px) {
    width: 100%;
    padding: 0 10px;
    .product-list {
      // gap: 5px;
      .list {
        // width: calc(100% - 5px);
        width: 100%;
        height: 300px;
        img {
          height: 80%;
        }
        .context {
          .explain {
            h4 {
              font-size: 16px;
            }
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}
